.message{
    padding:15px;
}

html, body {
    height: 100%;
}

h5{
    text-align: center;
    text-transform: uppercase;
}

.error{
    color:red;
}

#wrap {
    padding-left: 10px;
    padding-right: 10px;
}
 
#main {
    overflow:auto;
    padding-bottom: 50px;
}
 
footer {
    position: relative;
    clear:both;
    height: 50px;
    background-color: #333;
    text-align: center;
    color:white;
    margin-top: 1px;
}

.files{
    height:120px;
    margin: 10px;
    word-wrap: break-word;
    overflow: hidden;
    border:dotted black 1px;
}

.files p{  
    max-height:60px;
}

.clickable:hover{
    text-decoration: underline;
    cursor: pointer;
}

.contains{
    display:none;
}

.addable img, .deletable img, .deleteSmall{
    cursor: pointer;
}

.form-addable{
    float:left;
    display:none;
}

.deleteSmall{
    height:10px;
    width:10px;
    margin-left: 30px;
    -webkit-transition: width 0.5s, height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s;
}

.deleteSmall:hover{
    height:16px;
    width:16px;
}

.labelSettings{
    width:35px;
}

